<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 系统级别 SQL 配置 -->
<mapper namespace="www.kiy.cn.dao.SystemDao">

	<!--####################### Sql Start ################################ -->
	<sql id="SysQueryMethodAllColumns">
		q.*
	</sql>
	<sql id="SysQueryMethod">
		SysQueryMethod q with(nolock)
	</sql>
	<sql id="SysSqlFliterAllColumns"> f.* </sql>
	<sql id="SysSqlFliter">SysSqlFliter f with(nolock) </sql>

	<!--####################### Sql End ####################### -->
	<!--####################### ResultType=JMap Start####################### -->
	<select id="QueryMethodParams">
		<include refid="SysQueryMethodAllColumns" />
		,
		<include refid="SysSqlFliterAllColumns" />
		<include refid="SysQueryMethod" />
		<include refid="SysSqlFliter" />
	</select>

	<select id="SysAppConfigInfo" resultType="www.kiy.cn.youki.JMap">
		select * from SysAppConfig
		<choose>
			<when test="appid==null and domain==null">
				where 1!=1
			</when>
			<otherwise>
				where 1=1
				<if test="appid!=null">
					and strAppid =#{appid}
				</if>
				<if test="domain!=null">
					and strDomain = #{domain}
				</if>
			</otherwise>
		</choose>
	</select>
	<!--####################### ResultType=JMap End####################### -->

	<!--####################### ResultMap Start ####################### -->
	<resultMap id="dynamic" type="www.kiy.cn.youki.JMap">
		<result property="uid" column="uid" />
		<result property="strName" column="strName" />
	</resultMap>
	<resultMap id="dynamic2" type="www.kiy.cn.youki.JMap">
		<result property="uid" column="uid" />
		<result property="strName" column="strName" />
	</resultMap>
	<!--####################### ResultMap End####################### -->
	<!--####################### ResultType=models Start####################### -->
	<!-- resultMap="SysQueryMethod_M,SysSqlFliter_M" -->
	<select id="sysQueryAndFliter" parameterType="www.kiy.cn.youki.JMap"
		resultMap="dynamic,dynamic2">
		select * from
		SysQueryMethod with(nolock) where strName=
		#{strName}
		select
		f.* from
		SysSqlFliter f with(nolock)
		inner join
		SysQueryMethod s
		with(nolock) on
		s.uid=f.uidVouch
		where
		s.strName=#{strName} and
		bNoUsed=0

	</select>
	<!--####################### ResultType=models End####################### -->
</mapper>